<h1> index.html.erb </h1>
<p> This is the index page!  It is likely the first view page you are looking at in this app.  Within the scope of this class and the apps you'll be making, this is typically the page where you can display some, most, or all of your Model data, so that users can inspect a specific one (presumably to show or edit it).</p>

<a href="/foo"><button>Foobar</button></a>

</br>

<h3> Here is a button to redirect to 'new.html.erb' for the form to create a new Widget </h3>

<a href="/widgets/new"><button>Create New Widget</button></a>

<h3> The information below is extracted from the instance variable @all_widgets, which was passed from the 'index' method:</h3>

<ul>
  <% @all_widgets.each do |widget| %>
    <a href="/widgets/<%= widget.id %>"><button>Show</button></a>
    <%= widget.name %> -- <%= widget.quantity %>
    <%= form_for widget, {method: :delete} do |f|%>
      <%= f.submit "Delete widget" %>
    <% end %>
  <% end %>
</ul>

<h4> The actual instance variable @all_widgets, in its raw form, looks like this: </h4>

<%= @all_widgets %>

<h4> All data collected from your models are instances of the ActiveRecord object.  This will become important later</h4>